Package: com.jaydenjcpyryuk.spotify
Name: EeveeSpotify
Version: 6.6.3
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: 
Author: jaydenjcpy, faroukbmiled
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
